<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>Dk39o6jFXqkfBwGD0OQLcOZjR5UAkUaYee8DkrjiRDys9f693XVfMUzD0uelopjDDrgYSzhKdPdm4jw7hrn3mXHnrWIQl1tZtKYl</string>
	<key>email</key>
	<string>mohamed.salah.2011@gmail.com</string>
</dict>
</plist>
